.tabbrowser-tabs {
    margin: 0 0 0 0 !important;
    padding: 0 !important;
    background: transparent !important;
    background-color: #FBFBFB !important;
}

.tabbrowser-tab {
    -moz-box-pack: start;
    -moz-box-flex: 0;
    -moz-appearance: none !important;
    background: transparent !important;
    margin: 0 !important;
    padding: 1px 0 !important;
    height: 28px !important;
    min-height: 28px !important;
    max-height: 28px !important;
    color: #333333 !important;
	border: 0 !important;
	border-radius: 0 !important;
    border-left: 4px solid transparent !important;
	border-bottom: 1px solid #bbc3cc !important;
}

.tabbrowser-tab[selected="true"] {
    margin: 0 !important;
    padding: 1px 0 !important;
    background-color: #dadada !important;
    font-weight: normal;
    text-shadow: none;
    border-left: 4px solid #ff9500 !important;
    border-radius: 0 !important;
    font-weight: 600 !important;
}

.tabbrowser-tab[selected="true"]:-moz-window-inactive {
    background-color: InactiveCaption !important;
    color: InactiveCaptionText !important;
   /* gnome/gtk/cleartype doesn't seem to have inactive states for selected items, lets try this */
}

.tabbrowser-tab:not([selected="true"]):hover {
    margin: 0 !important;
    padding: 1px 0 !important;
    background-color: #ebebeb !important;
}

.tabbrowser-tab:not(:hover):not([selected="true"]) .tab-close-button {
    visibility: collapse !important;
}
