/* Keep the close button at a safe distance from the tab label. */
.tab-close-button {
	display: -moz-box;
	margin-left: 3px;
}

.tab-icon-image {
	margin: 0px 4px 1px 0px !important;
}

/* Drop indicator for drag'n'drop of tabs */
.tab-drop-indicator {
	list-style-image: url("resource://verticaltabsreloaded/data/skin/default/win7/dropmarker.png");
	margin-top: -13px !important; /* height of the above image */
	margin-bottom: 0 !important;
}
