@import "../../template/basic/index.css";
@import "modifications.css";
@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

:root {
	/* Tabbrowser */
	--vtr-tabbrowser-background-color: #424F5A;

	/* Tabbar, only used if no Firefox Theme installed */
	--vtr-tabbar-height: 24px;
	--vtr-tabbar-background-color: #f1f1f1;

	/* Single tab */
	--vtr-tab-text-color: #fbfbfb;
	--vtr-tab-background: transparent;
	--vtr-tab-height: 28px;
	--vtr-tab-min-height: 28px;
	--vtr-tab-max-height: 28px;
	--vtr-tab-border: 0;
	--vtr-tab-border-radius: 0;
	--vtr-tab-border-left: 4px solid transparent;
	--vtr-tab-border-bottom: 1px solid #5E6972;

	/* Single tab selected */
	--vtr-tab-selected-text-color: #fbfbfb;
	--vtr-tab-selected-background: #27323B;
	--vtr-tab-selected-font-weight: 600;
	--vtr-tab-selected-text-shadow: none;
	--vtr-tab-selected-border-left: 4px solid #ff9500;
	--vtr-tab-selected-border-radius: 0;

	/* Single tab pinned */
	--vtr-tab-pinned-text-color: #fbfbfb;
	--vtr-tab-pinned-background: #27323B;
	--vtr-tab-pinned-font-weight: 600;
	--vtr-tab-pinned-text-shadow: none;
	--vtr-tab-pinned-border-left: 4px solid #2292D0;
	--vtr-tab-pinned-border-radius: 0;

	/* Single tab hover */
	--vtr-tab-hover-background: #5E6972;

	/* Splitter/Separation between tabbar and website */
	--vtr-splitter-background: #27323B;
	--vtr-splitter-width: 3px;
	--vtr-splitter-border-left-size: 0;
	--vtr-splitter-border-left-color: #27323B;
	--vtr-splitter-border-right-size: 0;
	--vtr-splitter-border-right-color: #27323B;
}
