/* Single Tab modifications */
.tabbrowser-tab:not([pinned]) .tab-close-button {
	list-style-image: url("chrome://global/skin/icons/close-inverted.png") !important;
}

@media (min-resolution: 1.1dppx) {
	.tabbrowser-tab:not([pinned]) .tab-close-button {
		list-style-image: url("chrome://global/skin/icons/close-inverted@2x.png") !important;
	}
}

.tab-icon-sound[soundplaying] {
	list-style-image: url("chrome://browser/skin/tabbrowser/tab-audio.svg#tab-audio-white") !important;
}

.tab-icon-sound[muted] {
	list-style-image: url("chrome://browser/skin/tabbrowser/tab-audio.svg#tab-audio-muted-white") !important;
}
