@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

/**

 * Tab's status color blind variant.

 * selected & unselected: usual

 * unloaded: strike-through

 * unread or busy: underline

 */


/* unloaded */
.tabbrowser-tab[pending="true"] .tab-label
{
    text-decoration: line-through !important;
}


/* unread or busy */
.tabbrowser-tab[unread="true"] .tab-label,
.tabbrowser-tab[busy] .tab-label
{
    text-decoration: underline !important;
}

#TabsToolbar #tabbrowser-tab
{
    background-color: red !important;
}
