@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

.tabbrowser-tabs {
    margin: 1px 0 0 0 !important;
    padding: 0 !important;
    background: transparent !important;
    background-color: -moz-Field !important;
    border: 1px solid ButtonShadow !important;
}

.tabbrowser-tab {
    -moz-box-pack: start;
    -moz-box-flex: 0;
    -moz-appearance: none !important;
    background: transparent !important;
    margin: 0 !important;
    padding: 1px 0 !important;
    height: 24px !important;
    min-height: 24px !important;
    max-height: 24px !important;
	border: 1px solid transparent !important;
    border-radius: 0 !important;
	border-bottom: 1px solid #bbc3cc !important;
}

.tabbrowser-tab[selected="true"] {
    margin: 0 !important;
    padding: 1px 0 !important;

    background-color: Highlight !important;
    
    color: HighlightText !important;
    font-weight: normal;
    text-shadow: none;
}

.tabbrowser-tab[selected="true"]:-moz-window-inactive {
    background-color: InactiveCaption !important;
    color: InactiveCaptionText !important;
   /* gnome/gtk/cleartype doesn't seem to have inactive states for selected items, lets try this */
}

.tabbrowser-tab:not([selected="true"]):hover {
    margin: 0 !important;
    padding: 1px 0 !important;
	background-color: #ebebeb !important;
}

.tabbrowser-tab:not(:hover):not([selected="true"]) .tab-close-button {
    visibility: collapse !important;
}

/* Keep the close button at a safe distance from the tab label. */
.tab-close-button {
    display: -moz-box;
    margin-left: 3px !important;
    margin-right: 1px !important;
    margin-bottom: -3px !important;
}


/** Drop indicator for drag'n'drop of tabs - Works OOTB(TM)- Just needs a margin.**/
.tab-drop-indicator {
    margin-top: -11px !important;
    margin-bottom: 0 !important;
}


/*** Link Display ***/

.statuspanel-label {
    -moz-appearance: tooltip !important;
    margin-right: 0px !important;
    margin-left: 0px !important;
    box-shadow: 8px 3px 0 rgba(0,0,0,.18) !important; /* would otherwise display a transparent pixel on the tooltip's corner */
}

.statuspanel-inner {
    height: 100% !important;
}

#main-window[sizemode="normal"]:not([inFullscreen="true"]) .statuspanel-inner {
    padding-left: 0px !important;
    padding-right: 0px !important;
}

statuspanel[mirror]:-moz-locale-dir(ltr),
statuspanel[mirror]:-moz-locale-dir(rtl) {
    padding: 6px 6px 0px 0px !important;
}

statuspanel:-moz-locale-dir(ltr):not([mirror]),
statuspanel:-moz-locale-dir(rtl):not([mirror]) {
    padding: 0px 0px 0px 4px !important;
}

statuspanel[mirror]:-moz-locale-dir(ltr) .statuspanel-inner,
statuspanel[mirror]:-moz-locale-dir(rtl) .statuspanel-inner {
    margin-top: 8px !important;
    margin-bottom: 10px !important;
    box-shadow: 5px 5px 0 -4px rgba(0,0,0,.18), 5px 5px 0 -3px rgba(0,0,0,.15), 5px 5px 0 -2px rgba(0,0,0,.12), 5px 5px 0 -1px rgba(0,0,0,.09) !important;
    padding: 0px 0px !important;
    border-radius: 4px !important;
}

statuspanel:-moz-locale-dir(ltr):not([mirror]) .statuspanel-inner,
statuspanel:-moz-locale-dir(rtl):not([mirror]) .statuspanel-inner {
    margin-top: 14px !important;
    margin-bottom: 5px !important;
    box-shadow: 5px 5px 0 -4px rgba(0,0,0,.18), 5px 5px 0 -3px rgba(0,0,0,.15), 5px 5px 0 -2px rgba(0,0,0,.12), 5px 5px 0 -1px rgba(0,0,0,.09) !important;
    padding: 0px 0px !important;
    border-radius: 4px !important;
}
