html,
body {
    background-color: initial;
    box-sizing: border-box;
    color: #222426;
    cursor: default;
    display: flex;
    flex-direction: column;
    font: caption;
    margin: 0;
    padding: 0;
    user-select: none;

}

body * {
    box-sizing: border-box;
    text-align: start;
}

body {
    font-size: 1.25em;
}

@media (prefers-color-scheme: dark) {
    * {
        color: #fbfbfe;
        background-color: #1c1b22;
    }
}

#settings {
    width: 100%;
    margin-top: 5px;
    padding-left: 5px;
}

table {
    border-collapse: collapse;
}

tr td {
    border-top: 1px solid #c1c1c1;
}

.preferences-description {
    font-size: 90.9%;
    color: graytext;
    /*margin-top: -3px;*/
    white-space: pre-wrap;
}

a, a:visited, a:hover {
    color: inherit;
    text-decoration: underline;
}

a:hover {
    color: rgb(10, 141, 255);
    text-decoration: underline;
}

.hidden-setting,
.experimental-setting {
    display: none;
}

button, input, select {
    font-size: 0.9em;
    min-width: 160px;
}

input[type="checkbox"], #options-actions-show-notes {
    min-width: unset;
}

/*
select, input {
    margin-left: 2px;
}

button {
    padding-right: 10px !important;
    padding-left: 10px !important;
}

 select {
    padding: 0.1em 3.5em 0.1em 1em !important;
    background-image: url("chrome://global/skin/arrow/arrow-dn.gif") !important;
    background-position:
        calc(100% - 20px) calc(1em + 2px),
        calc(100% - 15px) calc(1em + 2px),
        100% 0 !important;
    background-size:
        5px 5px,
        5px 5px,
        2.5em 2.5em !important;
    background-repeat: no-repeat !important;
    box-sizing: border-box !important;
}

select option {
    font-size: 1em;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
    padding-inline-start: 10px;
    padding-inline-end: 30px;
}*/
