
/* chrome://global/locale/intl.css /*

 * This file contains all localizable skin settings such as
 *   font, layout, and geometry
 */
body, window {
  font: 3mm tahoma,arial,helvetica,sans-serif;
}
