body
{
    /* font: message-box from the legacy VTR add-on, rest default in Firefox */
    font: message-box, 3mm tahoma,arial,helvetica,sans-serif;
    height: 100vh;
    display: flex;
    flex-flow: column;
    overflow-y: hidden;
    user-select: none;
    -moz-user-select: none;
    z-index: -4;
}

#tabbrowser-tabs {
    flex: 1 1 auto;
    overflow-y: auto;
    /* margin-right: 2px; */
    z-index: -3;
}

#tabbrowser-tabs-pinned {
    flex: 0 1 auto;
    z-index: -2;
}

#TabsToolbar {
    flex: 0 1 24px;
    z-index: 1;
    display: flex;
    align-items: center;
}

#TabsToolbar span:first-child {
    margin-left: 2px;
}

#TabsToolbar span {
    padding-left: 5px;
    padding-right: 5px;
    border-right: 1px solid lightgray;
}

#TabsToolbar span:hover {
    background-color: hsla(240,5%,5%,.1);
}

.tab-buttons {
    position: absolute;
    right: 0px;
    padding: 0;
    margin: 0;
    /* padding-left: 5px; */

    z-index: 1;
}

/*.tab-buttons span {
     padding-left: 18px;
}*/

.tab-close-button {
    height: 22px;
    width: 24px;
    display: inline-block;
    background-image: url("../../data/template/basic/icons/light/close-regular.png");
    background-size: 22px 22px; /* contain ? */
    background-position: center center;
    background-repeat: no-repeat;
}

.tab-sound-button {
    display: inline-block;
    background-size: 22px 22px;
    background-position: center center;
    background-repeat: no-repeat;

    /* mask-repeat: no-repeat;
    mask-position: center center; */
}

.tab-sound-button-playing {
    height: 22px;
    width: 24px;
    /* background-color: currentColor; */
    background-image: url("../../data/chrome/icon/tab-audio-playing.svg");
}

.tab-sound-button-muted {
    height: 22px;
    width: 24px;
    /* background-color: inherit; */
    background-image: url("../../data/chrome/icon/tab-audio-muted.svg");
}


/* FIXME: Implement sound button */
/* .tab-icon-sound[soundplaying] {
	list-style-image: url("../chrome/icon/tab-audio-playing.svg");
    -moz-context-properties: fill;
    fill: currentColor;
}

.tab-icon-sound[muted] {
	list-style-image: url("../chrome/icon/tab-audio-muted.svg");
    -moz-context-properties: fill;
    fill: currentColor;
} */

.tab-icon-sound {
	filter: drop-shadow(1px 1px 1px currentColor);
}

/* Ensure the tab favicon doesn't stretch. */
.tab-icon-image {
    max-width: 22px;
    max-height: 22px;
}

/* FIXME: This works natively in FF but not here? */
.tab-icon-image[src*="data/chrome/icon/"] {
    -moz-context-properties: fill !important;
    fill: currentColor !important;
}

/* FIXME: remove? Undo a bunch of stuff for pinned tabs
.tabbrowser-tabs[positionpinnedtabs] > .tabbrowser-tab[pinned] {
    position: inherit !important;
}

.tabbrowser-tab[pinned] > .tab-text {
    display: inherit;
}

.tab-label[pinned] {
    width: auto !important;
    display: -moz-box !important;
} */

/* Don't show close buttons for pinned tabs */
.tabbrowser-tab[pinned] .tab-close-button,
.tabbrowser-tab[pinned] .tab-close-button:hover,
.tabbrowser-tab[pinned] .tab-close-button:active {
    /* list-style-image: none !important; */
	background-image: none;
    display: none;
}


.tabbrowser-tab {
    position: relative;
    pointer-events: auto;
    min-width: 30px;
    max-width: 100vw;
	min-height: 20px;
	height: 20px;
	max-height: 40px;
	border-bottom: 1px solid #5E6972;
    overflow: hidden;
    display: flex;
    align-items: center;
}

.tab-label {
    /*position: relative;*/
    white-space: nowrap;
    vertical-align: middle;
    text-overflow: ellipsis;
}

/* FIXME: likely not necessary anymor? */
/* Make sure that a placeholder favicon is getting displayed if there is none */
/* .tabbrowser-tab:not([status="loading"]) .tab-icon-image:not([src]):not([pinned]) {
	display: -moz-box;
} */


/* FIXME: useful? */
/* Taken from Firefox's original tabbrowser css */
/* Apply crisp rendering for favicons at exactly 2dppx resolution */
@media (resolution: 2dppx) {
  .tab-icon-image {
    image-rendering: -moz-crisp-edges;
  }
}
