/* chrome://browser/content/tabbrowser.css */

/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

/*
 body {
   font: 3mm tahoma,arial,helvetica,sans-serif;
 } */

 /* Apply crisp rendering for favicons at exactly 2dppx resolution */
 @media (resolution: 2dppx) {
   .tab-icon-image {
     image-rendering: -moz-crisp-edges;
   }
 }

 /*
.tab-sharing-icon-overlay[sharing]:not([selected]),
.tab-icon-overlay[soundplaying][pinned],
.tab-icon-overlay[muted][pinned],
.tab-icon-overlay[blocked][pinned],
.tab-icon-overlay[crashed] {
  display: -moz-box;
}

.tab-label-container {
  overflow: hidden;
}

.tab-label-container[pinned] {
  width: 0;
}

.tab-label-container[textoverflow]:not([pinned]) {
  mask-image: linear-gradient(to left, transparent, black 1em);
}

.tab-label-container[textoverflow]:not([pinned]):-moz-locale-dir(rtl) {
  mask-image: linear-gradient(to right, transparent, black 1em);
}

.tab-stack {
  vertical-align: top;  for pinned tabs
}

tabpanels {
  background-color: transparent;
}

.tab-drop-indicator {
  position: relative;
  z-index: 2;
}

.closing-tabs-spacer {
  pointer-events: none;
}

.tabbrowser-tabs:not(:hover) > .tabbrowser-arrowscrollbox > .closing-tabs-spacer {
  transition: width .15s ease-out;
}*/
