/* moz image region won't be needed anymore at a later point */

@media (max-resolution: 1dppx) {
	.tabbrowser-tab:not([pinned]) .tab-close-button {
		list-style-image: url("resource://verticaltabsreloaded-at-go-dev-dot-de/webextension/data/template/basic/icons/dark/close-regular.png") !important;
	}

	.tabbrowser-tab:not([pinned]) .tab-close-button:hover {
		list-style-image: url("resource://verticaltabsreloaded-at-go-dev-dot-de/webextension/data/template/basic/icons/dark/close-hover.png") !important;
	}

	.tabbrowser-tab:not([pinned]) .tab-close-button:active {
		list-style-image: url("resource://verticaltabsreloaded-at-go-dev-dot-de/webextension/data/template/basic/icons/dark/close-active.png") !important;
	}
}

@media (min-resolution: 1.1dppx) {
	.tabbrowser-tab:not([pinned]) .tab-close-button {
		list-style-image: url("resource://verticaltabsreloaded-at-go-dev-dot-de/webextension/data/template/basic/icons/dark/high-res-close-regular.png") !important;
	}

	.tabbrowser-tab:not([pinned]) .tab-close-button:hover {
		list-style-image: url("resource://verticaltabsreloaded-at-go-dev-dot-de/webextension/data/template/basic/icons/dark/high-res-close-hover.png") !important;
	}

	.tabbrowser-tab:not([pinned]) .tab-close-button:active {
		list-style-image: url("resource://verticaltabsreloaded-at-go-dev-dot-de/webextension/data/template/basic/icons/dark/high-res-close-active.png") !important;
	}
}
