body
{
    font: message-box !important;
    height: 100vh;
    display: flex;
    flex-flow: column;
    overflow-y: hidden;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}

#tabbrowser-tabs {
    flex: 1 1 auto;
    overflow-y: scroll;
}

#tabbrowser-tabs-pinned {
    flex: 0 1 auto;
    z-index: 99;
}

#TabsToolbar {
    flex: 0 1 24px;
}

.tab-buttons {
    position: absolute;
    right: 36px;
    padding: 0;
    /*padding-left: 5px;*/

    margin: 0;
    height: 22px;
    width: 22px;
    z-index: 1:
}

.tab-buttons ul, .tab-buttons li {
   margin: 0;
    /* margin-top: -10px;

    background-image: url("");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 16px;


    background-color: red !important;*/
    /*padding: 0;
    flex: 1 0 auto;*/

}

/* single buttons */
.tab-buttons span {
   /* height: 16px;
    width: 16px;
    margin: 0;
        padding: 0;
    margin-left: 5px;*/

}

/* Ensure the tab favicon doesn't stretch. */
.tab-icon-image {
    max-width: 22px;
    max-height: 22px;
}

/* FIXME: This works natively in FF but not here? */
.tab-icon-image[src*="data/chrome/icon/"] {
    -moz-context-properties: fill !important;
    fill: currentColor !important;
}

/* FIXME: remove? Undo a bunch of stuff for pinned tabs
.tabbrowser-tabs[positionpinnedtabs] > .tabbrowser-tab[pinned] {
    position: inherit !important;
}

.tabbrowser-tab[pinned] > .tab-text {
    display: inherit;
}

.tab-label[pinned] {
    width: auto !important;
    display: -moz-box !important;
} */

/* FIXME: Likely not needed anymore, Don't show close buttons for pinned tabs */
.tabbrowser-tab[pinned] .tab-close-button,
.tabbrowser-tab[pinned] .tab-close-button:hover,
.tabbrowser-tab[pinned] .tab-close-button:active {
    list-style-image: none !important;
	background-image: none !important;
    display: none !important;
}


.tabbrowser-tab {
    pointer-events: auto ! important;
    min-width: 30px ! important;
    max-width: 100% ! important;
	min-height: 20px;
	height: 20px !important;
	max-height: 40px !important;
	border-bottom: 1px solid #5E6972;
    overflow: hidden;
    display: flex;
    align-items: center;
}

.tab-label {
    /*position: relative;*/
    white-space: nowrap;
    vertical-align: middle;
    text-overflow: ellipsis;
}

/* Make sure that a placeholder favicon is getting displayed if there is none */
.tabbrowser-tab:not([busy]) .tab-icon-image:not([src]):not([pinned]) {
	display: -moz-box;
}

.tab-icon-sound[soundplaying] {
	list-style-image: url("../chrome/icon/tab-audio-playing.svg") !important;
    -moz-context-properties: fill !important;
    fill: currentColor !important;
}

.tab-icon-sound[muted] {
	list-style-image: url("../chrome/icon/tab-audio-muted.svg") !important;
    -moz-context-properties: fill !important;
    fill: currentColor !important;
}

.tab-icon-sound {
	filter: drop-shadow(1px 1px 1px currentColor) !important;
}
