body
{
    font: message-box !important;
}

/* FIXME: likely to be removed; Style the scrollbox for vertical arrangements. */
.tabbrowser-arrowscrollbox > scrollbox {
    overflow-x: hidden !important;
    overflow-y: auto !important;
}

/* FIXME: likely to be removed; Since we get an actual scrollbar in this vertical arrangement, we
   don't need these extra scroll buttons. */
.tabbrowser-arrowscrollbox > .scrollbutton-up,
.tabbrowser-arrowscrollbox > .scrollbutton-down {
    visibility: collapse !important;
}

/* Ensure the tab favicon doesn't stretch. */
.tab-icon-image {
    max-width: 16px;
    max-height: 16px;
}

/* Hide the original tab toolbar buttons. */
.tabs-newtab-button {
    visibility: collapse;
}

/* Undo a bunch of stuff for pinned tabs */
.tabbrowser-tabs[positionpinnedtabs] > .tabbrowser-tab[pinned] {
    position: inherit !important;
}
.tabbrowser-tab[pinned] > .tab-text {
    display: inherit;
}

.tab-label[pinned] {
    width: auto !important;
    display: -moz-box !important;
}

/* Don't show close buttons for pinned tabs */
.tabbrowser-tab[pinned] .tab-close-button,
.tabbrowser-tab[pinned] .tab-close-button:hover,
.tabbrowser-tab[pinned] .tab-close-button:active {
    list-style-image: none !important;
	background-image: none !important;
}

/* Ensure the twisty image doesn't stretch. */
.verticaltabs-twisty-container {
    -moz-box-pack: start;
    -moz-box-align: center;
}

/* Collapse/expand animation */
.tabbrowser-tab[fadein]:not([pinned]) {
    -moz-transition-property: visibility, height, min-height, max-height, padding-left;
    -moz-transition-duration: .1s;
    -moz-transition-timing-function: ease-out;
}

.verticaltabs-collapsed {
    height: 0px !important;  /* animation shrinks height */
    min-height: 0px !important;
    max-height: 0px !important;
    visibility: collapse;
}

.tab-background {
    display: none ! important;
}

.tabbrowser-tab {
    pointer-events: auto ! important;
    min-width: 30px ! important;
    max-width: 100% ! important;
	min-height: 20px;
	height: 20px;
	max-height: 40px !important;
	border-bottom: 1px solid #5E6972;
    overflow: hidden;
}

.tab-label {
    position: absolute;
    white-space: nowrap;
    vertical-align: middle;
    text-overflow: ellipsis
}

/* FIXME: likely to be removed */
.tabbrowser-arrowscrollbox > .arrowscrollbox-scrollbox {
    -moz-padding-end: 0px ! important;
    -moz-padding-start: 0px ! important;
}

/* FIXME: likely to be removed; get rid of the tab separator from horizontal tabs */
.tabbrowser-tab:after,
.tabbrowser-tab:before {
  content: none !important;
}

/* Make sure that a placeholder favicon is getting displayed if there is none */
.tabbrowser-tab:not([busy]) .tab-icon-image:not([src]):not([pinned]) {
	display: -moz-box;
}

/* Make room for the close/max/min button on the right of the window */
/* XXX this should probably be per-OS, yes? */
/* XXX if I was smarter I'd find a way to make a swoop on the right side of the bar, under the window buttons */
/* Maybe not - this conveniently leaves a hit target for dragging. */
/*#nav-bar {
  margin-right: 100px;
}*/
