/* FIXME: likely to be removed; get rid of the tab separator from horizontal tabs */
/*.tabbrowser-tab:after,
.tabbrowser-tab:before {
  content: none !important;
}*/

/* FIXME: likely to be removed */
.tab-background {
    display: none ! important;
}

/* FIXME: likely to be removed */
.verticaltabs-collapsed {
    height: 0px !important;  /* animation shrinks height */
    min-height: 0px !important;
    max-height: 0px !important;
    visibility: collapse;
}

/* Ensure the twisty image doesn't stretch. */
.verticaltabs-twisty-container {
    -moz-box-pack: start;
    -moz-box-align: center;
}

/* Collapse/expand animation */
.tabbrowser-tab[fadein]:not([pinned]) {
    -moz-transition-property: visibility, height, min-height, max-height, padding-left;
    -moz-transition-duration: .1s;
    -moz-transition-timing-function: ease-out;
}

/* Bug #97 */
.tabbrowser-tab:not(:hover):not([selected="true"]) .tab-close-button {
	visibility: visible !important;
}
