#contextmenu
{
    display: none;
    position: fixed;
    border: 1px solid #B2B2B2;
    width: 170px;
    background: #F9F9F9;
    box-shadow: 0px 1px 1px #E9E9E9;
    border-radius: 4px;
    z-index: 2;
}

#contextmenu .contextmenu-items
{
    list-style: none;
    margin: 0px;
    margin-top: 2px;
    padding-left: 5px;
    padding-right: 3px;
    padding-bottom: 2px;
    font-size: 13px;
    color: #333333;
}

#contextmenu hr
{
    width: 90%;
    height: 3px;
    background-color: #A8A8A8;
    color: #A8A8A8;
    margin-bottom: -1px;
    margin-top: -1px;
}

#contextmenu .contextmenu-items li
{
    padding: 2px;
    padding-left: 10px;
    border-bottom: 1px solid #B2B2B2;
}

#contextmenu .contextmenu-items li:last-child
{
    border-bottom: none;
}


#contextmenu .contextmenu-items :hover
{
    color: white;
    background: #284570;
    border-radius: 2px;
}
