.tabbrowser-tab {
	-moz-box-pack: start;
	-moz-box-flex: 0;
	appearance: none !important;
	background-color: var(--vtr-tab-background-color);
	background: var(--vtr-tab-background) !important;
	margin: 0 !important;
	padding: 1px 0 !important;
	height: var(--vtr-tab-height) !important;
	min-height: var(--vtr-tab-min-height) !important;
	max-height: var(--vtr-tab-max-height) !important;
	color: var(--vtr-tab-text-color) !important;
	border: var(--vtr-tab-border) !important;
	border-radius: var(--vtr-tab-border-radius) !important;
	border-left: var(--vtr-tab-border-left) !important;
	border-bottom: var(--vtr-tab-border-bottom) !important;
}

.tabbrowser-tab .tab-buttons
{
	background-color: var(--vtr-tab-background-color);
}

.tabbrowser-tab[pinned] {
	margin: 0 !important;
	padding: 1px 0 !important;
	color: var(--vtr-tab-pinned-text-color) !important;
	background-color: var(--vtr-tab-pinned-background-color);
	background: var(--vtr-tab-pinned-background) !important;
	font-weight: var(--vtr-tab-pinned-font-weight);
	text-shadow: var(--vtr-tab-pinned-text-shadow);
	border-left: var(--vtr-tab-pinned-border-left) !important;
	border-radius: var(--vtr-tab-pinned-border-radius) !important;
}

.tabbrowser-tab[pinned] .tab-buttons
{
	background-color: var(--vtr-tab-pinned-background-color);
}

.tabbrowser-tab[selected="true"] {
	margin: 0 !important;
	padding: 1px 0 !important;
	color: var(--vtr-tab-selected-text-color) !important;
	background-color: var(--vtr-tab-selected-background-color);
	background: var(--vtr-tab-selected-background) !important;
	font-weight: var(--vtr-tab-selected-font-weight);
	text-shadow: var(--vtr-tab-selected-text-shadow);
	border-left: var(--vtr-tab-selected-border-left) !important;
	border-radius: var(--vtr-tab-selected-border-radius) !important;
}

.tabbrowser-tab[selected="true"] .tab-buttons
{
	background-color: var(--vtr-tab-selected-background-color);
}

.tabbrowser-tab[selected="true"]:-moz-window-inactive {
	background-color: InactiveCaption !important;
	color: InactiveCaptionText !important;
/* gnome/gtk/cleartype doesn't seem to have inactive states for selected items, lets try this */
}

.tabbrowser-tab:not([selected="true"]):hover {
	margin: 0 !important;
	padding: 1px 0 !important;
	background-color: var(--vtr-tab-hover-background-color);
	background: var(--vtr-tab-hover-background) !important;
}

.tabbrowser-tab:not([selected="true"]):hover .tab-buttons
{
	background-color: var(--vtr-tab-hover-background-color);
}

.tab-label {
	text-align: left !important;
}

.tab-label[pinned] {
	margin-left: 6px !important;
	position: relative !important;
}

.tab-content {
	-moz-margin-start: 0px;
	margin-top: 1px;
}

.tab-close-button {
	/* border-right: 10px solid var(--vtr-tab-selected-background-color); */

}

/* FIXME: tab-icon-image likely to be removed from this section */
.tab-icon,
.tab-icon-image {
	padding: 3px;
	background-color: transparent !important; /* VT Original: f2f2f2 for Dark Theme */
	border-radius: 2px;
	/*min-height: 22px !important;
	min-width: 22px !important;
	max-height: 22px;
	max-width: 22px;*/
	opacity: 1 !important;
}

/** Drop indicator for drag'n'drop of tabs - Works OOTB(TM)- Just needs a margin.**/
.tab-drop-indicator {
	margin-top: -11px !important;
	margin-bottom: 0 !important;
}

.tabbrowser-tab:not(:hover):not([selected="true"]) .tab-close-button {
	visibility: collapse;
}

/* Keep the close button at a safe distance from the tab label. */
.tab-close-button {
	/* right: 4px;
	 margin-left: 3px !important;
	 margin-right: 1px !important;
	 background-color: red;*/
	 width: 22px;
	 height: 22px;
}

@media (max-resolution: 1dppx) {
	.tabbrowser-tab:not([pinned]) .tab-close-button {
		background-image: url("../../template/basic/icons/light/close-regular.png");
	}

	.tabbrowser-tab:not([pinned]) .tab-close-button:hover {
		background-image: url("../../template/basic/icons/light/close-hover.png");
	}

	.tabbrowser-tab:not([pinned]) .tab-close-button:active {
		background-image: url("../../template/basic/icons/light/close-active.png");
	}
}

@media (min-resolution: 1.1dppx) {
	.tabbrowser-tab:not([pinned]) .tab-close-button {
		background-image: url("../../template/basic/icons/light/high-res-close-regular.png");
	}

	.tabbrowser-tab:not([pinned]) .tab-close-button:hover {
		background-image: url("../../template/basic/icons/light/high-res-close-hover.png");
	}

	.tabbrowser-tab:not([pinned]) .tab-close-button:active {
		background-image: url("../../template/basic/icons/light/high-res-close-active.png");
	}
}
