body {
	margin: 0;
	padding: 0;
	background: transparent;
	background-color: var(--vtr-tabbrowser-background-color);
}

#TabsToolbar {
	filter: var(--vtr-tabbar-filter);
}

/* Tab toolbar styling */
#TabsToolbar:not(:-moz-lwtheme)  {
	flex: 0 1 var(--vtr-tabbar-height);
	height: var(--vtr-tabbar-height);
	border-bottom-left-radius: 0px;
	box-shadow: none;
	appearance: none;
	-moz-border-right-colors: #fcfcfc rgb(154,154,154); /* FIXME: remove? */
	background-color: var(--vtr-tabbar-background-color);
	background-image: none;
}

#TabsToolbar[data-position="bottom"]
{
	border-top: 1px solid rgb(160,160,160);
}

#TabsToolbar[data-position="top"]
{
	border-bottom: 1px solid rgb(160,160,160);
}
