@import "../../template/basic/index.css";
@import "modifications.css";

:root {
	/* Tabbrowser */
	--vtr-tabbrowser-background-color: #333;

    /* Tab Toolbar */
	--vtr-tabbar-height: 24px;
	--vtr-tabbar-background-color: #f1f1f1;

	/* Single tab */
	--vtr-tab-text-color: #BBB;
	--vtr-tab-background-color: #333;
	--vtr-tab-background: #333;
	--vtr-tab-height: 31px;
	--vtr-tab-min-height: 31px;
	--vtr-tab-max-height: 31px;
	--vtr-tab-border: 0;
	--vtr-tab-border-radius: 0;
	--vtr-tab-border-left: 2px solid transparent;
    --vtr-tab-border-top: 1px solid rgba(255, 255, 255,0.05);
	--vtr-tab-border-bottom: 1px solid rgba(0,0,0,0.15);
    --vtr-tab-margin: 7px 3px 6px;

	/* Single tab selected */
	--vtr-tab-selected-text-color: #DDD;
	--vtr-tab-selected-background-color: #222;
	--vtr-tab-selected-background: #222;
	--vtr-tab-selected-font-weight: bold;
	--vtr-tab-selected-text-shadow: 0 1px #404040;
	--vtr-tab-selected-border-left: 3px solid #D47C00;
	--vtr-tab-selected-border-radius: 0;

	/* Single tab pinned */
	--vtr-tab-pinned-text-color: #fbfbfb;
	--vtr-tab-pinned-background-color: #27323B;
	--vtr-tab-pinned-background: #27323B;
	--vtr-tab-pinned-font-weight: inherit;
	--vtr-tab-pinned-text-shadow: none;
	--vtr-tab-pinned-border-left: 3px solid #2292D0;
	--vtr-tab-pinned-border-radius: 0;

	/* Single tab hover */
	 /* Transparent causes troubles with the way icon buttons are getting handled rgba(0,0,0,0.15); */
	--vtr-tab-hover-background-color: #2b2b2b;
	--vtr-tab-hover-background: #2b2b2b;

	/* Close buttons */
	--vtr-tab-button-close-regular-background-image: url("../../theme/darwin/closetab.svg");
	--vtr-tab-button-close-hover-background-image: url("../../theme/darwin/closetab-white.svg");
	--vtr-tab-button-close-active-background-image: url("../../theme/darwin/closetab-white.svg");

	/* Sound buttons */
	--vtr-tab-button-sound-playing-background-image: url("../../chrome/icon/tab-audio-playing-white.svg");
	--vtr-tab-button-sound-muted-background-image: url("../../chrome/icon/tab-audio-muted-white.svg");


	/* Splitter/Separation between tabbar and website
	--vtr-splitter-background: none;
	--vtr-splitter-width: 3px;
	--vtr-splitter-border-left-size: 0;
	--vtr-splitter-border-left-color: #404040;
	--vtr-splitter-border-right-size: 0;
	--vtr-splitter-border-right-color: #404040;  */
}
