
/*
.tab-icon-sound {
	filter: drop-shadow(1px 1px 1px white) !important;
} */


/* Keep the close button at a safe distance from the tab label. */
/*.tab-close-button {
    margin-left: 3px;
    margin-top: 1px;
    background-position: center right;
    background-size: contain; */

    /* background-position: center center;
    background-size: 14px 14px; */
    /*opacity: 0.7;   turn black into #b9b9b9
}*/

.tab-close-button:active {
     opacity: 0.75;   /* turn black into #8a8a8a */
}

.tabbrowser-tab[selected="true"] .tab-close-button {
    opacity: 0.8;
}

.tabbrowser-tab[selected="true"] .tab-close-button:hover {
    opacity: 1;
}


/* Always display the favicon at 100% opacity */
/* .tabbrowser-tab .tab-icon-image {
    opacity: 1.0 !important;
} */

/* Tab label is without special decoration except when selected: then
   the text is white and bold. */
/* .tab-text {
     margin-bottom: 1px; FIXME: This margin-bottom or the 6px from the variables? */
    /* text-align: left !important;
} */

/* Ensure app tab labels are not too close to the icon.
.tab-label[pinned] {
    margin: 2px 6px !important;
    position: relative !important;
} */

/*
.tabbrowser-tab[pinned]:before {
    position: relative !important;
}

.tabbrowser-tab[pinned][titlechanged] > .tab-stack > .tab-content {
    background-image: none !important;
}

.tabbrowser-tab[pinned][titlechanged] .tab-text {
    color: #F1F1F1 !important;
}

.tabbrowser-tab[pinned][titlechanged]:after {
    content: '●' !important;
    width: 18px;
    height: 10px;
    position: absolute !important;
    color: #29B4FF;
    line-height: 15px;
    font-size: 150% !important;
} */
